#map {
  margin:10% auto;
  position:relative;
  top:10%;
  bottom:0;
  width:80%;
  height: 75vh;
  border: 2px solid #DAA520;
}

form {
  margin: 100px 20px 0 20px;
}
/*
#featurette-divider {
  color: red;
}*/

form {
  margin: 100px 20px 0 20px;
}
